* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-0 {
  background-color: #dcf5ff;
}
.background-1 {
  background-color: #e6c86e;
}
.background-2 {
  background-color: #64b964;
}
.background-3 {
  background-color: #508cd7;
}
.background-4 {
  background-color: #d77355;
}
.background-5 {
  background-color: #646964;
}
.background-6 {
  background-color: #55415f;
}
.background-7 {
  background-color: #000;
}
.border-0 {
  border-color: #dcf5ff;
}
.border-1 {
  border-color: #e6c86e;
}
.border-2 {
  border-color: #64b964;
}
.border-3 {
  border-color: #508cd7;
}
.border-4 {
  border-color: #d77355;
}
.border-5 {
  border-color: #646964;
}
.border-6 {
  border-color: #55415f;
}
.border-7 {
  border-color: #000;
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url("fonts/VT323-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
.VT323,
.button,
.stats .fps {
  font-family: 'VT323', monospace;
}
html {
  background: #000;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mobile-buttons {
  display: none;
}
@media screen and (max-width: 26rem) {
  .mobile-buttons {
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: 15% 20% 15% 10% 20% 20%;
    grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem;
  }
  .mobile-buttons div.button {
    min-height: 1.5rem;
    user-select: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border: solid #55415f 1px;
    background: #000;
    color: #d77355;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .mobile-buttons div.button.on {
    background: #55415f;
    color: #000;
  }
  .mobile-buttons div.button.left,
  .mobile-buttons div.button.right {
    grid-row: 1/7;
  }
  .mobile-buttons div.button.up span,
  .mobile-buttons div.button.down span {
    transform: rotate(-90deg);
  }
  .mobile-buttons div.button.up {
    grid-row: 1/4;
  }
  .mobile-buttons div.button.down {
    grid-row: 4/7;
  }
  .mobile-buttons div.button.a,
  .mobile-buttons div.button.b {
    grid-row: 1/5;
  }
  .mobile-buttons div.button.left {
    grid-column: 1/1;
  }
  .mobile-buttons div.button.right {
    grid-column: 3/3;
  }
  .mobile-buttons div.button.a,
  .mobile-buttons div.button.select {
    grid-column: 5/5;
  }
  .mobile-buttons div.button.b,
  .mobile-buttons div.button.start {
    grid-column: 6/6;
  }
  .mobile-buttons div.button.select,
  .mobile-buttons div.button.start {
    color: #d77355;
    font-size: 1rem;
    grid-row: 5/7;
  }
}
canvas {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
canvas.master {
  width: 100vw;
  height: 100vw;
}
button {
  display: block;
}
.button {
  border: none;
  color: #646964;
  cursor: pointer;
  outline: none;
  padding: 0 0.75rem;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.button.active {
  color: #e6c86e;
}
.button:hover {
  color: #dcf5ff;
}
button.play {
  display: block;
  border: solid #55415f 1px;
  height: 1.5rem;
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
button.play.hide {
  display: none;
}
input {
  width: 100%;
  display: block;
  margin: 0.75rem 0;
}
ul {
  display: flex;
  list-style: none;
  min-height: 3rem;
}
ul li {
  margin-right: 1.5rem;
}
ul li button {
  background-color: rgba(0,0,0,0);
  border: solid #55415f 2px;
  width: 3rem;
  padding: 0.35rem;
  height: 3rem;
  cursor: pointer;
  outline: none;
}
ul li button canvas {
  width: 100%;
  opacity: 0.25;
}
ul li button:hover {
  border-color: #64b964;
}
ul li button:hover canvas {
  opacity: 0.5;
}
ul li button.active {
  border-color: #dcf5ff;
}
ul li button.active canvas {
  opacity: 1;
}
.stats {
  margin-top: 0.75rem;
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.stats button {
  padding-right: 1rem;
}
.stats .fps {
  margin-left: auto;
  color: #55415f;
  font-size: 1.5rem;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
